.main {
  display: flex;
}
.main__image {
  margin-top: 40px;
  width: 1000px;
}
.main__title {
  margin-top: 50px;
  background: white;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 40px;
  width: 1000px;
}
.main__title-text {
  font-size: 36px;
  width: 930px;
}
.main__title-matn {
  margin-top: 20px;
  font-size: 18px;
  width: 930px;
  margin-bottom: 20px;
}
.main__title-line {
  border: 2px solid gray;
  width: 930px;
  margin-top: 50px;
}
.main__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main__footer-link {
  text-decoration: none;
  color: black;
}
.main__footer-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main__footer-element-image1 {
  margin-bottom: 5px;
}
.main__footer-element-image2 {
  margin-bottom: 5px;
}
.main__cards {
  margin-left: 31px;
  margin-top: 40px;
}
.main__cards-card {
  width: 317px;
  height: 283px;
  border: 1px solid gray;
  border-radius: 20px;
  margin-top: 30px;
}
.main__cards-card-matn {
  padding: 20px;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .main {
    display: flex;
  }
  .main__image {
    width: 100%;
  }
  .main__title {
    margin-top: 50px;
    background: white;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 40px;
    width: 100%;
  }
  .main__title-text {
    font-size: 36px;
    width: 100%;
  }
  .main__title-matn {
    margin-top: 20px;
    font-size: 18px;
    width: 90%;
    margin-bottom: 20px;
  }
  .main__title-line {
    border: 2px solid gray;
    width: 90%;
    margin-top: 50px;
  }
  .main__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .main__footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main__footer-element-image1 {
    margin-bottom: 5px;
  }
  .main__footer-element-image2 {
    margin-bottom: 5px;
  }
  .main__cards {
    margin-left: 31px;
  }
  .main__cards-card {
    width: 317px;
    height: 283px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 30px;
  }
  .main__cards-card-matn {
    padding: 20px;
  }
}
@media only screen and (max-width: 1140px) {
  .container {
    max-width: 960px;
  }
  .main {
    display: flex;
  }
  .main__image {
    width: 1000px;
  }
  .main__title {
    margin-top: 50px;
    background: white;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 40px;
    width: 1000px;
  }
  .main__title-text {
    font-size: 36px;
    width: 930px;
  }
  .main__title-matn {
    margin-top: 20px;
    font-size: 18px;
    width: 930px;
    margin-bottom: 20px;
  }
  .main__title-line {
    border: 2px solid gray;
    width: 930px;
    margin-top: 50px;
  }
  .main__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .main__footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main__footer-element-image1 {
    margin-bottom: 5px;
  }
  .main__footer-element-image2 {
    margin-bottom: 5px;
  }
  .main__cards {
    margin-left: 31px;
  }
  .main__cards-card {
    width: 317px;
    height: 283px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 30px;
  }
  .main__cards-card-matn {
    padding: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .main {
    display: flex;
  }
  .main__image {
    width: 800px;
  }
  .main__title {
    margin-top: 50px;
    background: white;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 40px;
    width: 800px;
  }
  .main__title-text {
    font-size: 36px;
    width: 750px;
  }
  .main__title-matn {
    margin-top: 20px;
    font-size: 18px;
    width: 750px;
    margin-bottom: 20px;
  }
  .main__title-line {
    border: 2px solid gray;
    width: 9750px30px;
    margin-top: 50px;
  }
  .main__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .main__footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main__footer-element-image1 {
    margin-bottom: 5px;
  }
  .main__footer-element-image2 {
    margin-bottom: 5px;
  }
  .main__cards {
    visibility: hidden;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .main {
    display: flex;
  }
  .main__image {
    width: 650px;
  }
  .main__title {
    margin-top: 50px;
    background: white;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 40px;
    width: 650px;
  }
  .main__title-text {
    font-size: 36px;
    width: 600px;
  }
  .main__title-matn {
    margin-top: 20px;
    font-size: 18px;
    width: 600px;
    margin-bottom: 20px;
  }
  .main__title-line {
    border: 2px solid gray;
    width: 600px;
    margin-top: 50px;
  }
  .main__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .main__footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main__footer-element-image1 {
    margin-bottom: 5px;
  }
  .main__footer-element-image2 {
    margin-bottom: 5px;
  }
  .main__cards {
    visibility: hidden;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .main {
    display: flex;
    padding: 10px;
  }
  .main__image {
    width: 400px;
  }
  .main__title {
    margin-top: 50px;
    background: white;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 40px;
    width: 380px;
  }
  .main__title-text {
    font-size: 36px;
    width: 320px;
  }
  .main__title-matn {
    margin-top: 20px;
    font-size: 18px;
    width: 320px;
    margin-bottom: 20px;
  }
  .main__title-line {
    border: 2px solid gray;
    width: 320px;
    margin-top: 50px;
  }
  .main__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .main__footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main__footer-element-image1 {
    margin-bottom: 5px;
  }
  .main__footer-element-image2 {
    margin-bottom: 5px;
  }
  .main__cards {
    visibility: hidden;
  }
}/*# sourceMappingURL=page2.css.map */