.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

@media only screen and (max-width: 428px) {
  .container {
    max-width: 1240px;
    padding: 0 0px;
    margin: 0 auto;
  }
}

.section-3 {
  background: url(.png), url(.png), rgba(255, 255, 255, 0.5);

  &__title {
    display: flex;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
  }

  &__box {
    display: flex;
    justify-content: center;

    /* Note: backdrop-filter has minimal browser support */

    border-radius: 90px;

    &_titles {
      border: 1px solid #000;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid #999999;
      backdrop-filter: blur(2px);
      padding: 1px;
      border-radius: 90px;

      &-btn {
        border-radius: 40px;
        width: 166px;
        height: 51px;
        background-color: #fff;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
      }

      &-btn:hover {
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: linear-gradient(
          93.5deg,
          #1e11ad 12.37%,
          rgba(105, 17, 173, 0.95) 85.28%
        );
      }
    }
  }

  &__cards {
    margin-top: 40px;
    flex-wrap: wrap;
    columns: 3;

    .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      padding: 15px;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;

      .cover_child {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);

        &-icon {
          position: absolute;
          right: 0;
          top: 0px;
        }
        &-text {
          color: #ffffff;
          position: absolute;
          left: 20px;
          bottom: 20px;
          font-size: 20px;
        }
      }
    }
    &_card {
      cursor: pointer;
      position: relative;
      margin-bottom: 20px;
      backdrop-filter: blur(7.5px);
      border-radius: 20px;

      &-el {
        position: absolute;
        background-color: #fff;
        right: 15px;
        top: 15px;
        border-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 121px;
        height: 37px;
      }

      &:hover > .cover {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: center;

    &-btn {
      padding: 7px;
      width: 200px;
      height: 60px;
      background: #6911ad;
      border-radius: 141px;
      border: none;
      color: #ffffff;
      cursor: pointer;

      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
  }
}
